
<html>
<head>

  <script type="text/javascript" src="/assets/snowstorm.js">
  </script>

  <style>


  .unicorns{
    background-color: #33333C;
  }
  .font{
    color: #FFFFFF;
    font-family:'Open Sans Condensed', sans-serif;
  }
  </style>


  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">


</head>

<body class="unicorns">

<h1 style="font-size:70px" class="font"> WEIRD STUFF ?</h1>
<br>
<p  style="font-size:40px"class="font">Hello! and welcome to this.. website.<br><br>
I have no idea of what to talk about here, but i will now insert a small story.</p>




</body>
</html>
